In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('imdb.title.basics.csv.gz')
df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [9]:
df.isna().sum()

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [12]:
df['primary_title'].value_counts()

Home                                        24
The Return                                  20
Broken                                      20
Alone                                       16
Homecoming                                  16
                                            ..
La memòria de la matèria                     1
The Weasel's Tale                            1
Get Married or Die                           1
La Divina Commedia Opera Musical             1
Streetkids United II: The Girls From Rio     1
Name: primary_title, Length: 136071, dtype: int64